* {
  background-color: #b0c4de;
}


input {
  background-color: #fff;
}

#fridge-container {
  background-color: #add8e6;
  border: 1px solid;
  border-radius: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
}

.fridge-card {
  background-color: #f8f8ff;
  border: 1px solid;
  border-radius: 0.5em;
  padding: 2.2em;
  margin: 1em auto;
}.

.food-item-card {
  border: 1px solid;
}
