body {
  background-color: #b0c4de;
}


h2, h4 {
  background-color: inherit;
}


input {
  background-color: #fff;
}

#fridge-form-container {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin: auto;
  padding: 0.5em;
}

#fridge-container {
  background-color: #add8e6;
  border: 1px solid;
  border-radius: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: auto;
}

.fridge-card {
  background-color: #bac3e0;
  border: 1px solid;
  border-radius: 0.5em;
  padding: 2.2em;
  margin: 1em;
  width: 40%;
}

.fridge-delete-btn {
  margin-left: 0.5em;
  color: #fff;
  background-color: red;
  padding: 0.5em;
  border-radius: 0.25em;
  font-weight: bold;
}

.food-items-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 5px solid #010c30;
  border-radius: 0.5em;
  margin-top: 1em;
}


.food-item-card {
  background-color: #a5bf36;
  border: 1px solid black;
  padding: 1em;
  margin: 1em auto;
  width: 60%;
}
